fastapi
uvicorn[standard]
python-multipart
sqlalchemy
bcrypt
python-jose[cryptography]
email-validator
tensorflow
numpy
pandas
opencv-python-headless==4.14.0.94
Pillow
openpyxl
gunicorn
psycopg[binary]
